@import "komet-user-agent-stylesheet.css";

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-border-radius: 4px;
    -fx-border-color: -Secondary-05;
    -fx-border-width: 1px;

    -fx-background-radius: 4px;
    -fx-background-color: -Grey-2;
    -fx-background-insets: 0;

    -fx-text-fill: -Secondary-05;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 12px;
    -fx-font-weight: 600;

    -fx-padding: 0.25em 0.833333em 0.25em  0.833333em; /* 4 10 4 10         */
}

.button.dark {
    -fx-background-color: -Grey-11;
}

.button:default {
    -fx-background-color: -Secondary-05;
    -fx-text-fill: white;
}

.button.light {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.combo-box {
    -fx-background-color: #44495d;
    -fx-color: -Grey-8;

    -fx-font-family: "Noto Sans";
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
}

.combo-box .list-cell {
    -fx-text-fill: #111;
    -fx-padding: 0.166667em 0.666667em 0.166667em 0.666667em; /* 2 8 2 8 */
}

.combo-box .text-input {
    -fx-background-color: transparent;
    -fx-border-width: 0;

    -fx-prompt-text-fill: #111;
}

.combo-box:editable > .arrow-button {
    -fx-background-color: transparent;
}

.combo-box:editable > .arrow-button:hover {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 4px;
    -fx-background-insets: 0;
}

.combo-box.combo-box-base > .arrow-button > .arrow {
    -fx-background-color: #5896f6;
    -fx-shape: "M7.41 8.29508L6 9.70508L12 15.7051L18 9.70508L16.59 8.29508L12 12.8751L7.41 8.29508Z";
}

/*******************************************************************************
 *                                                                             *
 * App Header                                                                  *
 *                                                                             *
 ******************************************************************************/

.app-header {
    height: 38px;

    -fx-background-color: #9050d0;
    -fx-padding: 0 12 0 12;

    -fx-pref-height: height;
    -fx-min-height: height;
    -fx-max-height: height;
}

.app-title {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-letter-spacing: 0.8px;
}

/*******************************************************************************
 *                                                                             *
 * Top Toolbar                                                                 *
 *                                                                             *
 ******************************************************************************/

.top-toolbar,
.pattern-browser .header {
    height: 40px;

    -fx-pref-height: height;
    -fx-min-height: height;
    -fx-max-height: height;
}

.top-toolbar {
    -fx-background-color: -Grey-11;
    -fx-padding: 0 8px 0 8px;
}

.top-toolbar .label {
    -fx-text-fill: white;
    -fx-font-size: 11px;
}

.top-toolbar .text-field {
    -fx-background-color: -Grey-9;
    -fx-padding: 0.416667em 0.583em 0.416667em 0.583em; /* 4 7 4 7 */
}

.top-toolbar .separator:vertical .line {
     -fx-border-color: transparent transparent transparent transparent,
         transparent transparent transparent #555;
     -fx-border-width: 3, 2;
     -fx-border-insets: 0, 8 0 8 1;
 }

.top-toolbar .button.light .icon {
    -fx-background-color: white;

    -fx-pref-width: 16px;
    -fx-pref-height: 16px;

    -fx-scale-shape: false;
}

.top-toolbar .name-field {
    -fx-pref-width: 260;
}

/*******************************************************************************
 *                                                                             *
 * Side Bar                                                                    *
 *                                                                             *
 ******************************************************************************/

.side-bar {

    -default-button-height: 56px;

    -fx-background-insets: 0;
    -fx-background-color: -Grey-11;
    -fx-border-insets: 0 0 0 0;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: -Grey-10;
}

.side-bar .button,
.side-bar .toggle-button  {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-font-family: "Noto Sans";
    -fx-font-size: 14px;
    -fx-text-fill: -Grey-3;

    -fx-border-width: 0;
}

/* Home Button */
.side-bar .button {
    -fx-padding: 16px 12 0 12;
}

/* Other buttons in the sidebar */
.side-bar .toggle-button  {
    -fx-padding: 16px 12 16 12;
}

.side-bar .button .icon,
.side-bar .toggle-button .icon {
    -fx-background-color: -icon-paint;
    -fx-scale-shape: false;
}

.side-bar .toggle-button .icon,
.side-bar .button .icon {
    width: 20;
    -fx-min-width: width;
    -fx-pref-width: width;
    -fx-max-width: width;

    -fx-alignment: center;
    -fx-position-shape: true;
}

.side-bar .separator:horizontal .line {
    -fx-border-color: #555 transparent transparent transparent,
        transparent transparent transparent transparent;
    -fx-border-insets: 0 6 0 6, 1 0 0 0;
}

/* Toggle Button - Selected */
.side-bar .toggle-button:selected {
    -fx-background-color: -Primary-03;
}

.side-bar .toggle-button:selected .icon {
    -fx-background-color: #111;
}

/*******************************************************************************
 *                                                                             *
 * Pattern Browser                                                             *
 *                                                                             *
 ******************************************************************************/

.pattern-browser {
    -fx-pref-width: 280px;
}

.pattern-browser .header {
    -fx-background-color: #44495d;
}

.pattern-browser .header .label {
    -fx-text-fill: white;

    -fx-font-size: 13px;
}

.pattern-browser .header .clear-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-text-fill: white;

    -fx-padding: 0 5 0 5;
}

.pattern-browser .content-container {
    -fx-background-color: #545d72;
    -fx-padding: 0 7px 0 7px;
}

.pattern-browser .content-container .search-container {
    -fx-background-color: #545d72;
    -fx-padding: 10px 0px 10px 0px;
}

.pattern-browser .content-container .search-container .text-field {
    -fx-background-color: -Grey-8;
    -fx-background-radius: 4px;

    -fx-border-color: #4f4f4f ;
    -fx-border-radius: 4px;

}

.pattern-browser .content-container .label {
    -fx-text-fill: #eee;
}

/*******************************************************************************
 *                                                                             *
 * Canvas                                                                      *
 *                                                                             *
 ******************************************************************************/

.canvas {
    -fx-background-image: url("dot-grid-40px-25.png");
    -fx-background-size: 12px 12px;
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Icons                                                                       *
 *                                                                             *
 ******************************************************************************/

.button .icon,
.toggle-button .icon {
    -fx-background-color: -icon-paint;
    -fx-scale-shape: false;
}

/********************************* Icon SVGs **********************************/

.icon.home {
   -fx-shape: "M12.9375 5.82281L17.9375 10.3228V18.1328H15.9375V12.1328H9.9375V18.1328H7.9375V10.3228L12.9375 5.82281ZM12.9375 3.13281L2.9375 12.1328H5.9375V20.1328H11.9375V14.1328H13.9375V20.1328H19.9375V12.1328H22.9375L12.9375 3.13281Z";
}

.icon.list {
   -fx-shape: "M3.9375 18.6328H13.9375V16.6328H3.9375V18.6328ZM3.9375 13.6328H16.1875V11.6328H3.9375V13.6328ZM3.9375 6.63281V8.63281H13.9375V6.63281H3.9375Z";
}

.icon.code {
   -fx-shape: "M10.3375 17.2328L5.7375 12.6328L10.3375 8.03281L8.9375 6.63281L2.9375 12.6328L8.9375 18.6328L10.3375 17.2328ZM15.5375 17.2328L20.1375 12.6328L15.5375 8.03281L16.9375 6.63281L22.9375 12.6328L16.9375 18.6328L15.5375 17.2328Z";
}

.icon.layout {
    -fx-shape: "M4.9375 5.63281V18.6328H21.9375V5.63281H4.9375ZM6.9375 16.6328V7.63281H9.9375V16.6328H6.9375ZM11.9375 16.6328V13.1328H14.9375V16.6328H11.9375ZM19.9375 16.6328H16.9375V13.1328H19.9375V16.6328ZM11.9375 11.1328V7.63281H19.9375V11.1328H11.9375Z";
}

.icon.share {
    -fx-shape: "M7.02031 11.5507L6.00002 10.5304L10.3 6.23038L7.2294 6.23038V4.78341H12.7673L12.7673 10.3213H11.3203L11.3203 7.25067L7.02031 11.5507Z";
}

.icon.duplicate {
     -fx-shape: "M9.93856 6.99561L9.93856 8.56267L11.9094 8.56267L11.9094 10.5612L13.4764 10.5612L13.4764 8.56267L15.5026 8.56267L15.5026 6.99561L13.4764 6.99561L13.4764 4.99716L11.9094 4.99716L11.9094 6.99561L9.93856 6.99561Z";
}

.icon.cross {
    -fx-shape: "M16.3333 5.34199L15.1583 4.16699L10.5 8.82533L5.84163 4.16699L4.66663 5.34199L9.32496 10.0003L4.66663 14.6587L5.84163 15.8337L10.5 11.1753L15.1583 15.8337L16.3333 14.6587L11.675 10.0003L16.3333 5.34199Z";
}