@import "komet-base.css";

/*******************************************************************************
 *                                                                             *
 * Root definitions (includes "global css variables")                          *
 * (This is repeated in kview.css we should probably have a common css file    *
 * and both stylesheets should import it)                                      *
 *                                                                             *
 ******************************************************************************/
.root {
    -fx-kview-titled-pane-text-color: #4581deff;
    -fx-kview-titled-pane-background-color: #dbe9ffff;
    -komet-description-color: #ff9100;
    -Primary-07: #598F3C;
    -Primary-06: #5EA03C;
    -Primary-05: #67BA3F;
    -Primary-04: #5DCF16;
    -Primary-03: #7ADE3D;
    -Primary-02: #94EE5D;
    -Primary-01: #C0F5A0;

    -Secondary-07: #304971;
    -Secondary-06: #395C9A;
    -Secondary-05: #4A7AD2;
    -Secondary-04: #5896F6;
    -Secondary-03: #9DC4FF;
    -Secondary-02: #CADFFF;
    -Secondary-01: #DEEBFF;

    -Grey-Black: #000;

    -Grey-12: #212430;
    -Grey-11: #2E3240;
    -Grey-10: #44495E;
    -Grey-9: #545D72;
    -Grey-8: #6E7989;
    -Grey-7: #9CAABF;
    -Grey-6: #B3BDCD;
    -Grey-5: #C3CDDC;
    -Grey-4: #CFD8E4;
    -Grey-3: #E1E8F1;
    -Grey-2: #F1F3F8;
    -Grey-1: #FBFBFC;
    -Grey-White: #FFF;
    -Natural-Grey-Main: #5E5E5E;
    -Natural-Grey-Dark: #4A4A4A;

    -Accent-color-yellow: #F3BE00;
    -Accent-color-orange: #FDAD15;
    -Accent-color-red: #F04938;
    -Accent-color-lavender: #956AFF;
    -Accent-color-blue: #0085FF;
    -Accent-color-tiffany: #02CACD;
    -Accent-color-green: #00BC62;
    -Chip-Accepted-color-green: -Accent-color-green;
    -Chip-Error-color-red: -Accent-color-red;
    -Text-hover: #C6DCFF4D;
    -Hover-light-blue: rgba(198, 220, 255, 0.30);
    -Medium-opaque-red: rgba(200, 70, 70, 0.60);

    -icon-paint: white;

    -fx-font-family: "Noto Sans";
}