@import "../mvvm/view/kview.css";

.bytearray-control {
}

.bytearray-control > .file-container {
    -fx-padding: 8;
    -fx-background-radius: 8px;
    -fx-background-color: -Grey-4;
    -fx-border-width: 2;
    -fx-border-radius: 8px;
    -fx-border-color: transparent;
    -fx-pref-height: 150;
}

.bytearray-control > .file-container:hover {
    -fx-border-color: -Primary-04;
}

.bytearray-control > .file-container > .progress-bar {
    -fx-pref-width: -width-size;
}

.bytearray-control > .file-container > .progress-bar > .track {
    -fx-background-color: -Grey-4;
    -fx-background-insets: 0;
}

.bytearray-control > .file-container > .progress-bar > .bar {
    -fx-background-color: -Primary-04;
    -fx-background-insets: 0;
    -fx-padding: 16;
}
.bytearray-control > .file-container > .progress-label {
    -fx-text-fill: white;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
}

.bytearray-control > .file-container > .cancel-button {
    -fx-background-image: url("../mvvm/view/images/close_24px.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right top;
    -fx-pref-width: 6;
    -fx-pref-height: 6;
}

.bytearray-control > .file-container > .file-icon-group > .file-icon-label {
    -fx-text-fill: white;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-translate-y: 45.5;
    -fx-pref-width: 60;
    -fx-alignment: center;
}

.bytearray-control > .file-container > .file-icon-group > .file-icon {
    -fx-shape: "m4.2 28.3a1.5 1.5 90 00-1.5 1.5v10.8a1.5 1.5 90 001.5 1.5h32.5a1.5 1.5 90 001.5-1.5v-10.8a1.5 1.5 90 00-1.5-1.5h-32.5zm11.4-5.4h21.4v-1.9h-21.4zm0-3.8h25.4v-2h-25.4zm19.7-18.5h-24.6c-.7 0-1.3.6-1.3 1.3v25.7h2.7v-24.3h23.2v9.2h9.2v35.4h-32.4v-4.9h-2.7v6.3c0 .7.6 1.3 1.3 1.3h35.1c.7 0 1.3-.6 1.3-1.3v-36.8z";
    -fx-min-width: 74.60;
    -fx-pref-width: 74.60;
    -fx-max-width: 74.60;
    -fx-min-height: 84;
    -fx-pref-height: 84;
    -fx-max-height: 84;
    -fx-background-color: -Primary-04;
}

.bytearray-control > .message-label {
    -fx-font-family: "Noto Sans";
    -fx-font-size: 12px;
    -fx-text-fill: -Grey-11;
    -fx-wrap-text: true;
}

.bytearray-control > .message-label:error {
    -fx-text-fill: -Accent-color-red;
}

.bytearray-control > .add-file-button {
    -fx-background-color: -Secondary-05;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-background-radius: 4;
    -fx-padding: 0;
    -fx-pref-width: 122px;
    -fx-max-width: 122px;
    -fx-pref-height: 32px;
    -fx-max-height: 32px;
}

.bytearray-control > .add-file-button:disabled {
    -fx-background-color: -Grey-7;
}
