@import "../mvvm/view/kview.css";

.boolean-control {
    -fx-label-padding: 0 10 0 5;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-fill: -Grey-8;
    -fx-padding: 4;
    -fx-background-radius: 4px;
    -fx-background-color: white;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: -Grey-5;
    -fx-pref-height: 32.0;
    -fx-min-width: 100;
}

.boolean-control:disabled {
    -fx-opacity: 0.4;
}

.boolean-control > .radio {
    -fx-background-radius: 12;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-background-color: -Secondary-05, white;
    -fx-background-insets: 0, 2;
    -fx-padding: 5;
}

.boolean-control:focused > .radio,
.boolean-control:hover > .radio,
.boolean-control:armed > .radio {
    /* TODO */
    -fx-background-color: -Secondary-05, white;
    -fx-background-insets: 0, 2;
}

.boolean-control > .radio > .dot {
    -fx-pref-width: 10;
    -fx-pref-height: 10;
    -fx-background-color: transparent;
    -fx-background-radius: 12;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.boolean-control:selected > .radio > .dot {
    -fx-background-color: -Secondary-05;
    -fx-background-insets: 0;
}

/*.klradio.radio-button > .radio {*/
/*    -fx-background-color: #4277D8;*/
/*    -fx-fill: white;*/
/*    -fx-shape: "M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z";*/
/*}*/

/*.klradio.radio-button:selected > .radio .dot {*/
/*    -fx-background-color: #4277D8;*/
/*    -fx-fill: white;*/
/*    -fx-shape: "M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z";*/
/*}*/

/*.kl-boolean-label {*/
/*    -fx-font-family: "Noto Sans";*/
/*    -fx-font-size: 14px;*/
/*    -fx-font-style: normal;*/
/*    -fx-font-weight: 500;*/
/*    -fx-line-height: 16px;*/
/*    -fx-text-fill: black;*/
/*}*/

/*.kl-boolean-selection {*/
/*    -fx-font-family: "Noto Sans";*/
/*    -fx-font-size: 14px;*/
/*    -fx-font-style: normal;*/
/*    -fx-font-weight: 500;*/
/*    -fx-line-height: 16px;*/
/*    -fx-text-fill: -Grey-11;*/
/*}*/

