@import "../mvvm/view/kview.css";

.boolean-control {
    -fx-font-family: "Noto Sans";

    -fx-text-fill: -Grey-8;
}

.boolean-control .main-container {
    -fx-spacing: 6px;
}

.boolean-control .title {
    -fx-font-size: 1.166667em; /* 14 */
}

.boolean-control > .main-container > .combo-box-base {
    -fx-font-size: 1.166667em; /* 14 */
    -fx-background-color: -Grey-5, white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4px, 4px;
    -fx-padding: 0.166667em 0 0.166667em 0; /* 2 0 2 0 */
}

.boolean-control .combo-box-base > .arrow-button > .arrow {
    -fx-shape: "M7.41 8.29508L6 9.70508L12 15.7051L18 9.70508L16.59 8.29508L12 12.8751L7.41 8.29508Z";
    -fx-background-color: #4277d8;
}

.boolean-control > .main-container > .combo-box-base:focused   {
    -fx-background-color: #8ab4f8, white;
    -fx-background-insets: 0, 2;
}

.boolean-control:disabled {
    -fx-opacity: 0.4;
}

/* --- Popup options --- */
.boolean-control .boolean-combo-box > .combo-box-popup > .list-view {
    -fx-background-color: -Grey-5, white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4px;
}

.boolean-control .boolean-combo-box > .combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: white;
    -fx-padding: 4 8 4 8;
}

.boolean-control .boolean-combo-box > .combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.boolean-control .boolean-combo-box > .combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: #f4fbf0;
}

.boolean-control .boolean-combo-box > .combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell .label {
    -fx-text-fill: -Grey-12;
}

.boolean-control .boolean-combo-box > .combo-box-popup .check-mark {
    -fx-min-width: 12px;
    -fx-min-height: 12px;
    -fx-background-color: transparent;
    -fx-shape: "M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z";
}

/* Selected */
.boolean-control .boolean-combo-box > .combo-box-popup .list-cell:selected .check-mark {
    -fx-background-color: #79bf3b;
}

.boolean-control .boolean-combo-box > .combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:selected .label {
    -fx-text-fill: white;
}