@import "../mvvm/view/kview.css";

.component-control > .selected-concept-container,
.component-control > .concept-container {
    -fx-padding: 8;
    -fx-background-radius: 8px;
    -fx-background-color: -Grey-4;
}

.component-control > .concept-container > .concept-search-box,
.component-control > .selected-concept-container > .concept-selected-entity-box {
    -fx-background-color: white;
    -fx-background-radius: 3;

    -fx-border-color: #b8c1d0;
    -fx-border-radius: 3;
}

.component-control > .selected-concept-container > .concept-selected-entity-box {
    -fx-padding: 3 2 3 2;
}

.component-control > .concept-container > .concept-search-box > .search-field-container > .concept-text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;

    -fx-font-family: "Noto Sans";
    -fx-font-size: 14px;
    -fx-text-fill: #111;

    -fx-cursor: text;
}

.component-control > .concept-container > .concept-search-box > .search-field-container > .search-prompt {
    -fx-text-fill: #6e7989;
    -fx-font-size: 14px;
}

.component-control > .concept-container > .concept-search-box > .concept-filter-button {
    -fx-background-color: transparent;
    -fx-opacity: 1;
    -fx-background-radius: 0;

    -fx-border-width: 0;

    -fx-padding: 0 9 0 4;

    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
}

.component-control > .concept-container > .concept-search-box > .concept-filter-button > .concept-filter-region {
    -width-size: 15;
    -height-size: 15;
    -fx-background-color: -Secondary-05;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;
    -fx-shape: "M7.50004 4.16871C7.27903 4.16871 7.06707 4.25651 6.91079 4.41279C6.7545 4.56907 6.66671 4.78103 6.66671 5.00204C6.66671 5.22306 6.7545 5.43502 6.91079 5.5913C7.06707 5.74758 7.27903 5.83538 7.50004 5.83538C7.72105 5.83538 7.93302 5.74758 8.0893 5.5913C8.24558 5.43502 8.33337 5.22306 8.33337 5.00204C8.33337 4.78103 8.24558 4.56907 8.0893 4.41279C7.93302 4.25651 7.72105 4.16871 7.50004 4.16871ZM5.14171 4.16871C5.31388 3.68076 5.63316 3.25824 6.05554 2.95937C6.47792 2.6605 6.98261 2.5 7.50004 2.5C8.01747 2.5 8.52216 2.6605 8.94454 2.95937C9.36692 3.25824 9.68621 3.68076 9.85837 4.16871H15.8334C16.0544 4.16871 16.2663 4.25651 16.4226 4.41279C16.5789 4.56907 16.6667 4.78103 16.6667 5.00204C16.6667 5.22306 16.5789 5.43502 16.4226 5.5913C16.2663 5.74758 16.0544 5.83538 15.8334 5.83538H9.85837C9.68621 6.32332 9.36692 6.74585 8.94454 7.04472C8.52216 7.34359 8.01747 7.50408 7.50004 7.50408C6.98261 7.50408 6.47792 7.34359 6.05554 7.04472C5.63316 6.74585 5.31388 6.32332 5.14171 5.83538H4.16671C3.94569 5.83538 3.73373 5.74758 3.57745 5.5913C3.42117 5.43502 3.33337 5.22306 3.33337 5.00204C3.33337 4.78103 3.42117 4.56907 3.57745 4.41279C3.73373 4.25651 3.94569 4.16871 4.16671 4.16871H5.14171ZM12.5 9.16871C12.279 9.16871 12.0671 9.25651 11.9108 9.41279C11.7545 9.56907 11.6667 9.78103 11.6667 10.002C11.6667 10.2231 11.7545 10.435 11.9108 10.5913C12.0671 10.7476 12.279 10.8354 12.5 10.8354C12.7211 10.8354 12.933 10.7476 13.0893 10.5913C13.2456 10.435 13.3334 10.2231 13.3334 10.002C13.3334 9.78103 13.2456 9.56907 13.0893 9.41279C12.933 9.25651 12.7211 9.16871 12.5 9.16871ZM10.1417 9.16871C10.3139 8.68077 10.6332 8.25824 11.0555 7.95937C11.4779 7.6605 11.9826 7.5 12.5 7.5C13.0175 7.5 13.5222 7.6605 13.9445 7.95937C14.3669 8.25824 14.6862 8.68077 14.8584 9.16871H15.8334C16.0544 9.16871 16.2663 9.25651 16.4226 9.41279C16.5789 9.56907 16.6667 9.78103 16.6667 10.002C16.6667 10.2231 16.5789 10.435 16.4226 10.5913C16.2663 10.7476 16.0544 10.8354 15.8334 10.8354H14.8584C14.6862 11.3233 14.3669 11.7458 13.9445 12.0447C13.5222 12.3436 13.0175 12.5041 12.5 12.5041C11.9826 12.5041 11.4779 12.3436 11.0555 12.0447C10.6332 11.7458 10.3139 11.3233 10.1417 10.8354H4.16671C3.94569 10.8354 3.73373 10.7476 3.57745 10.5913C3.42117 10.435 3.33337 10.2231 3.33337 10.002C3.33337 9.78103 3.42117 9.56907 3.57745 9.41279C3.73373 9.25651 3.94569 9.16871 4.16671 9.16871H10.1417ZM7.50004 14.1687C7.27903 14.1687 7.06707 14.2565 6.91079 14.4128C6.7545 14.5691 6.66671 14.781 6.66671 15.002C6.66671 15.2231 6.7545 15.435 6.91079 15.5913C7.06707 15.7476 7.27903 15.8354 7.50004 15.8354C7.72105 15.8354 7.93302 15.7476 8.0893 15.5913C8.24558 15.435 8.33337 15.2231 8.33337 15.002C8.33337 14.781 8.24558 14.5691 8.0893 14.4128C7.93302 14.2565 7.72105 14.1687 7.50004 14.1687ZM5.14171 14.1687C5.31388 13.6808 5.63316 13.2582 6.05554 12.9594C6.47792 12.6605 6.98261 12.5 7.50004 12.5C8.01747 12.5 8.52216 12.6605 8.94454 12.9594C9.36692 13.2582 9.68621 13.6808 9.85837 14.1687H15.8334C16.0544 14.1687 16.2663 14.2565 16.4226 14.4128C16.5789 14.5691 16.6667 14.781 16.6667 15.002C16.6667 15.2231 16.5789 15.435 16.4226 15.5913C16.2663 15.7476 16.0544 15.8354 15.8334 15.8354H9.85837C9.68621 16.3233 9.36692 16.7458 8.94454 17.0447C8.52216 17.3436 8.01747 17.5041 7.50004 17.5041C6.98261 17.5041 6.47792 17.3436 6.05554 17.0447C5.63316 16.7458 5.31388 16.3233 5.14171 15.8354H4.16671C3.94569 15.8354 3.73373 15.7476 3.57745 15.5913C3.42117 15.435 3.33337 15.2231 3.33337 15.002C3.33337 14.781 3.42117 14.5691 3.57745 14.4128C3.73373 14.2565 3.94569 14.1687 4.16671 14.1687H5.14171Z";
}

.component-control > .concept-drop-area,
.component-control > .concept-container > .concept-drop-area {
    -fx-background-color: -Grey-2;
    -fx-text-fill: -Grey-8;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-border-style: dashed;
    -fx-border-color: -Primary-04;
}

.component-control > .concept-donot-drop-area,
.component-control > .concept-container > .concept-donot-drop-area {
    -fx-background-color: -Grey-2;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-border-style: solid;
    -fx-border-color: -Accent-color-red;
    -fx-padding: 0 5 0 5;
}

.error-msg-label {
    -fx-text-fill: -Accent-color-red;
}

.concept-donot-drag-and-drop-icon {
    -fx-border-color: -Accent-color-red;
    -width-size: 20;
    -height-size: 20;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;
    -fx-shape: "M7.50065 4.16871C7.27964 4.16871 7.06768 4.25651 6.9114 4.41279C6.75512 4.56907 6.66732 4.78103 6.66732 5.00204C6.66732 5.22306 6.75512 5.43502 6.9114 5.5913C7.06768 5.74758 7.27964 5.83538 7.50065 5.83538C7.72166 5.83538 7.93363 5.74758 8.08991 5.5913C8.24619 5.43502 8.33398 5.22306 8.33398 5.00204C8.33398 4.78103 8.24619 4.56907 8.08991 4.41279C7.93363 4.25651 7.72166 4.16871 7.50065 4.16871ZM5.14232 4.16871C5.31449 3.68076 5.63377 3.25824 6.05615 2.95937C6.47853 2.6605 6.98322 2.5 7.50065 2.5C8.01808 2.5 8.52277 2.6605 8.94515 2.95937C9.36754 3.25824 9.68682 3.68076 9.85898 4.16871H15.834C16.055 4.16871 16.267 4.25651 16.4232 4.41279C16.5795 4.56907 16.6673 4.78103 16.6673 5.00204C16.6673 5.22306 16.5795 5.43502 16.4232 5.5913C16.267 5.74758 16.055 5.83538 15.834 5.83538H9.85898C9.68682 6.32332 9.36754 6.74585 8.94515 7.04472C8.52277 7.34359 8.01808 7.50408 7.50065 7.50408C6.98322 7.50408 6.47853 7.34359 6.05615 7.04472C5.63377 6.74585 5.31449 6.32332 5.14232 5.83538H4.16732C3.9463 5.83538 3.73434 5.74758 3.57806 5.5913C3.42178 5.43502 3.33398 5.22306 3.33398 5.00204C3.33398 4.78103 3.42178 4.56907 3.57806 4.41279C3.73434 4.25651 3.9463 4.16871 4.16732 4.16871H5.14232ZM12.5007 9.16871C12.2796 9.16871 12.0677 9.25651 11.9114 9.41279C11.7551 9.56907 11.6673 9.78103 11.6673 10.002C11.6673 10.2231 11.7551 10.435 11.9114 10.5913C12.0677 10.7476 12.2796 10.8354 12.5007 10.8354C12.7217 10.8354 12.9336 10.7476 13.0899 10.5913C13.2462 10.435 13.334 10.2231 13.334 10.002C13.334 9.78103 13.2462 9.56907 13.0899 9.41279C12.9336 9.25651 12.7217 9.16871 12.5007 9.16871ZM10.1423 9.16871C10.3145 8.68077 10.6338 8.25824 11.0562 7.95937C11.4785 7.6605 11.9832 7.5 12.5007 7.5C13.0181 7.5 13.5228 7.6605 13.9452 7.95937C14.3675 8.25824 14.6868 8.68077 14.859 9.16871H15.834C16.055 9.16871 16.267 9.25651 16.4232 9.41279C16.5795 9.56907 16.6673 9.78103 16.6673 10.002C16.6673 10.2231 16.5795 10.435 16.4232 10.5913C16.267 10.7476 16.055 10.8354 15.834 10.8354H14.859C14.6868 11.3233 14.3675 11.7458 13.9452 12.0447C13.5228 12.3436 13.0181 12.5041 12.5007 12.5041C11.9832 12.5041 11.4785 12.3436 11.0562 12.0447C10.6338 11.7458 10.3145 11.3233 10.1423 10.8354H4.16732C3.9463 10.8354 3.73434 10.7476 3.57806 10.5913C3.42178 10.435 3.33398 10.2231 3.33398 10.002C3.33398 9.78103 3.42178 9.56907 3.57806 9.41279C3.73434 9.25651 3.9463 9.16871 4.16732 9.16871H10.1423ZM7.50065 14.1687C7.27964 14.1687 7.06768 14.2565 6.9114 14.4128C6.75512 14.5691 6.66732 14.781 6.66732 15.002C6.66732 15.2231 6.75512 15.435 6.9114 15.5913C7.06768 15.7476 7.27964 15.8354 7.50065 15.8354C7.72166 15.8354 7.93363 15.7476 8.08991 15.5913C8.24619 15.435 8.33398 15.2231 8.33398 15.002C8.33398 14.781 8.24619 14.5691 8.08991 14.4128C7.93363 14.2565 7.72166 14.1687 7.50065 14.1687ZM5.14232 14.1687C5.31449 13.6808 5.63377 13.2582 6.05615 12.9594C6.47853 12.6605 6.98322 12.5 7.50065 12.5C8.01808 12.5 8.52277 12.6605 8.94515 12.9594C9.36754 13.2582 9.68682 13.6808 9.85898 14.1687H15.834C16.055 14.1687 16.267 14.2565 16.4232 14.4128C16.5795 14.5691 16.6673 14.781 16.6673 15.002C16.6673 15.2231 16.5795 15.435 16.4232 15.5913C16.267 15.7476 16.055 15.8354 15.834 15.8354H9.85898C9.68682 16.3233 9.36754 16.7458 8.94515 17.0447C8.52277 17.3436 8.01808 17.5041 7.50065 17.5041C6.98322 17.5041 6.47853 17.3436 6.05615 17.0447C5.63377 16.7458 5.31449 16.3233 5.14232 15.8354H4.16732C3.9463 15.8354 3.73434 15.7476 3.57806 15.5913C3.42178 15.435 3.33398 15.2231 3.33398 15.002C3.33398 14.781 3.42178 14.5691 3.57806 14.4128C3.73434 14.2565 3.9463 14.1687 4.16732 14.1687H5.14232Z";
}

.component-control > .concept-drop-area > .label > .concept-drag-and-drop-icon,
.component-control > .concept-container > .concept-drop-area > .label > .concept-drag-and-drop-icon {
    -fx-background-color: -Grey-8;
    -width-size: 20;
    -height-size: 20;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;
    -fx-shape: "M27 22.5V27H9V22.5H6V27C6 28.65 7.35 30 9 30H27C28.65 30 30 28.65 30 27V22.5H27ZM25.5 16.5L23.385 14.385L19.5 18.255V6H16.5V18.255L12.615 14.385L10.5 16.5L18 24L25.5 16.5Z";
}

.component-control > .selected-concept-container > .concept-selected-entity-box > .image-view-container {
    -fx-padding: 0 8 0 8;
}

.component-control > .selected-concept-container > .concept-selected-entity-box > .drag-handle-icon-container {
    -fx-padding: 0 10px 0 0;
}

.component-control > .selected-concept-container > .concept-selected-entity-box > .drag-handle-icon-container > .drag-handle-icon {
    -fx-shape: "M0 2a2 2 0 1 0 4 0a2 2 0 1 0 -4 0 M7 2a2 2 0 1 0 4 0a2 2 0 1 0 -4 0 M7 9a2 2 0 1 0 4 0a2 2 0 1 0 -4 0 M0 9a2 2 0 1 0 4 0a2 2 0 1 0 -4 0 M0 16a2 2 0 1 0 4 0a2 2 0 1 0 -4 0 M7 16a2 2 0 1 0 4 0a2 2 0 1 0 -4 0";

    width: 13;
    height: 20px;

    -fx-min-width: width;
    -fx-max-width: width;
    -fx-max-height: height;
    -fx-min-height: height;

    -fx-scale-shape: false;

    -fx-background-color: #9A9DA0;
}

.component-control > .selected-concept-container > .concept-selected-entity-box > .selected-concept-description.label {
    -fx-text-fill: -Grey-11;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
}

.component-control > .selected-concept-container > .concept-selected-entity-box > .selected-concept-discard-button {
    -fx-background-color: transparent;
}

.component-control > .selected-concept-container > .concept-selected-entity-box > .selected-concept-discard-button:hover {
    -fx-background-color: #f4f4f4;
    -fx-background-insets: 0 2 0 2;
}

.component-control > .selected-concept-container > .concept-selected-entity-box > .selected-concept-discard-button > .selected-concept-discard-region {
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;

    -fx-background-color: -Secondary-05;

    -fx-shape: "M15.8337 5.34199L14.6587 4.16699L10.0003 8.82533L5.34199 4.16699L4.16699 5.34199L8.82533 10.0003L4.16699 14.6587L5.34199 15.8337L10.0003 11.1753L14.6587 15.8337L15.8337 14.6587L11.1753 10.0003L15.8337 5.34199Z";
    -fx-scale-shape: false;
}

/*************  Type Ahead Popup   ****************/

.component-popup.auto-complete-popup > .list-view {
    -fx-background-color: red;
    -fx-background-insets: 0;

    -fx-background-color:
            linear-gradient(to bottom,
                derive(-fx-color,-17%),
                derive(-fx-color,-30%)
            ),
        -fx-control-inner-background;
    -fx-background-insets: -1 -2 -1 -1, 0 -1 0 0;

    -fx-background-radius: 0 0 4 4;

    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}

.component-popup.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 10 2 0 4;
    /* No alternate highlighting */
    -fx-background: -fx-control-inner-background;
}

.component-popup.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.component-popup.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.component-popup.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-color: #f4fbf0;
}

.component-popup.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell .label {
    -fx-padding: 0 0 10 2;
    -fx-graphic-text-gap: 8;

    -fx-font-family: "Noto Sans Semibold";

    -fx-font-size: 13px;

}

.component-popup.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell .separator {
    -fx-border-insets: 0;
    -fx-border-width: 1 0 0 0;

    -fx-background-insets: 0;

    -fx-border-color: #ddd;
}

.component-popup.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .separator,
.component-popup.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover .separator,
.component-popup.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover .separator {
    -fx-border-insets: 0;
    -fx-border-width: 1 0 0 0;

    -fx-background-insets: 0;

    -fx-border-color: #a0d486;
}

.component-popup.auto-complete-popup > .list-view > .placeholder > .label {
    -fx-text-fill: derive(-fx-control-inner-background,-30%);
}

/* Remove horizontal scrollbar */
.component-popup.auto-complete-popup  > .list-view .scroll-bar:horizontal .increment-arrow,
.component-popup.auto-complete-popup  > .list-view .scroll-bar:horizontal .decrement-arrow,
.component-popup.auto-complete-popup  > .list-view .scroll-bar:horizontal .increment-button,
.component-popup.auto-complete-popup  > .list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

/* Scrollbars in ListView */
.component-popup.auto-complete-popup > .list-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.component-popup.auto-complete-popup > .list-view .scroll-bar:vertical .increment-button,
.component-popup.auto-complete-popup > .list-view .scroll-bar:vertical .decrement-button,
.component-popup.auto-complete-popup > .list-view .scroll-bar:vertical .increment-arrow,
.component-popup.auto-complete-popup > .list-view .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;

    -fx-background-radius: 0em;
    -fx-padding: 0 2 0 2;
}

.component-popup.auto-complete-popup > .list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #a9aeb8;
    -fx-background-insets: 3px 4px 3px 3px;
    -fx-background-radius: 16px;
}