@import "../mvvm/view/kview.css";

.component-list-control {
}

.component-list-control > .number-label {
    -fx-font-family: "Noto Sans";
    -fx-font-size: 1.166667em; /* 14 */

    -fx-background-color: #c3cddc, #f1f3f8;
    -fx-background-insets: 0, 1px;
    -fx-background-radius: 3px, 3px;

    -fx-padding: 5px 7px 5px 7px;
}


.component-list-control > .component-control .concept-selected-entity-box:focused   {
    -fx-background-color: #8ab4f8, white;
    -fx-background-insets: 0, 2;
}

.component-list-control > .drop-line {
    -fx-stroke: #5dcf16;
    -fx-stroke-dash-array: 4 , 5;
}

.component-list-control > .add-entry-button {
    -fx-border-color: -Secondary-05;
    -fx-background-color: -Grey-1;
    -fx-text-fill: -Secondary-05;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-border-width: 1px;
    -fx-border-radius: 4;
    -height-size: 32px;
    -width-size: 122px;
    -fx-pref-width: -width-size;
    -fx-max-width: -width-size;
    -fx-pref-height: -height-size;
    -fx-max-height: -height-size;
}

.component-list-control > .add-entry-button > .concept-search-button:disabled {
    -fx-background-color: -Grey-7;
}

/*** Reordering and dragging to same position ***/

.component-list-control > .component-control:dragging-to-same > .selected-concept-container {
    -fx-background-color: white;

    -fx-padding: 6;

    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-border-style: dashed;
    -fx-border-color: -Primary-04;
}

.component-list-control > .component-control:dragging-to-same > .selected-concept-container > .concept-selected-entity-box {
    visibility: hidden;
}