.read-only-component-set-control .main-container .component-item,
.read-only-component-set-control .main-container .title,
.read-only-component-set-control .main-container .prompt-text {
    -fx-border-width: 1px;
    -fx-border-color: transparent;
}

.read-only-component-set-control .main-container .title {
    -fx-font-family: "Noto Sans SemiBold";
    -fx-text-fill: #5d5d5d;
}

.read-only-component-set-control .main-container .prompt-text {
    -fx-font-family: "Noto Sans SemiBold";
    -fx-font-size: 13px;
}

.read-only-component-set-control .main-container .prompt-text:hover {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #dfdfdf;
}

.read-only-component-set-control:edit-mode .main-container .prompt-text {
    -fx-background-color: #f4fbf0;
    -fx-border-color: #66bb38;

    -fx-text-fill: #395c9a;
}

.read-only-component-set-control .main-container .components-container {
    -fx-spacing: 2px;

    -fx-padding: 3px 0 0 0;
}

.read-only-component-set-control .main-container .components-container .component-item > .container {
    -fx-spacing: 4px;
    -fx-alignment: center-left;
}

.read-only-component-set-control .main-container .components-container .component-item > .container > .label {
    -fx-text-fill: #111;
    -fx-font-size: 1.166667em;

    -fx-border-width: 1px;
    -fx-border-color: transparent;

    -fx-padding: 0 0 0 1px;
}

.read-only-component-set-control .main-container .components-container .component-item:hover > .container > .label {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #dfdfdf;
}

.read-only-component-set-control .main-container .components-container .component-item:edit-mode > .container > .label,
.read-only-component-set-control:edit-mode .main-container .components-container .component-item > .container > .label {
    -fx-background-color: #f4fbf0;
    -fx-border-color: #66bb38;
}