.read-only-component-control .main-container .text-container,
.read-only-component-control .main-container .title {
    -fx-border-width: 1px;
    -fx-border-color: transparent;
}

.read-only-component-control .main-container .title {
    -fx-font-family: "Noto Sans SemiBold";
    -fx-text-fill: #5d5d5d;
}

.read-only-component-control .main-container .text-container {
    -fx-spacing: 4px;
    -fx-padding: 0 0 0 0;

    -fx-alignment: center-left;
}

.read-only-component-control .main-container .text-container {  /* .prompt-text */
    -fx-font-family: "Noto Sans SemiBold";
    -fx-font-size: 13px;    
}

.read-only-component-control:edit-mode .main-container .text-container > .prompt-text { /* .prompt-text */
    -fx-background-color: #f4fbf0;
    -fx-border-color: #66bb38;
}

.read-only-component-control .main-container .text-container .text {
    -fx-text-fill: #111;
    -fx-font-size: 13px;

    -fx-border-width: 1px;
    -fx-border-color: transparent;

    -fx-padding: 0 0 0 1px;
}


.read-only-component-control:hover .main-container .text-container .label .text {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #dfdfdf;
}


.read-only-component-control .main-container .text-container:hover {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #dfdfdf;
}

.read-only-component-control:edit-mode .main-container .text-container .label {
    -fx-background-color: #f4fbf0;
    -fx-border-color: #66bb38;
}
