.read-only-data-control .main-container .text-container,
.read-only-data-control .main-container .title {
    -fx-border-width: 1px;
    -fx-border-color: transparent;

    -fx-padding: 0 0.25em 0 0.25em;
}

.read-only-data-control.main-container .title {
    -fx-text-fill: #5d5d5d;
}

.read-only-data-control:hover .main-container .text-container {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #dfdfdf;
}

.read-only-data-control:edit-mode .main-container .text-container {
    -fx-background-color: #f4f9ff;
    -fx-border-color: #cfd8e4;

    -fx-text-fill: #395c9a;
}

.read-only-data-control .main-container .text-container .text {
    -fx-text-fill: #111;
    -fx-font-size: 1.166667em;
}

.read-only-data-control:edit-mode .main-container .text-container .prompt-text {
    -fx-font-family: "Noto Sans SemiBold";
    -fx-font-size: 1.166667em;
}