.search-control {
    -fx-padding: 12 4 12 8;
    -fx-background-color: transparent;
    -fx-pref-height: 56;
}

.search-control > .text-field {
    -fx-background-color: #FBFBFC;
    -fx-border-width: 1px;
    -fx-border-color: #C3CDDC;
    -fx-border-radius: 2px;
    -fx-padding: 5 28 5 32;
    -fx-pref-height: 32;
    -fx-font-family: "Noto Sans";
    -fx-font-weight: 400;
    -fx-font-size: 14;
    -fx-text-fill: #2E3240;
    -fx-highlight-fill: #93BEFF;
    -fx-highlight-text-fill: white;
}

.search-control > .region {
    -fx-min-width: 20;
    -fx-pref-width: 20;
    -fx-max-width: 20;
    -fx-min-height: 20;
    -fx-pref-height: 20;
    -fx-max-height: 20;
    -fx-background-color: transparent;
}

.search-control > .region > .icon {
    -fx-scale-shape: false;
}

.search-control > .region > .icon.search {
    /* 0.5, 0.5 14.575x14.575 */
    -fx-background-color: #545D72;
    -fx-shape: "M10.3 9.05833L15.075 13.8333L13.8333 15.075L9.05833 10.3C8.16667 10.9417 7.09167 11.3333 5.91667 11.3333C2.925 11.3333 0.5 8.90833 0.5 5.91667C0.5 2.925 2.925 0.5 5.91667 0.5C8.90833 0.5 11.3333 2.925 11.3333 5.91667C11.3333 7.09167 10.9417 8.16667 10.3 9.05833ZM5.91667 2.16667C3.84167 2.16667 2.16667 3.84167 2.16667 5.91667C2.16667 7.99167 3.84167 9.66667 5.91667 9.66667C7.99167 9.66667 9.66667 7.99167 9.66667 5.91667C9.66667 3.84167 7.99167 2.16667 5.91667 2.16667Z";
}

.search-control > .region > .icon.close {
    /* 0.167, 0.167 11.667x11.667 */
    -fx-background-color: #545D72;
    -fx-shape: "M11.8333 1.34175L10.6583 0.166748L5.99999 4.82508L1.34166 0.166748L0.166656 1.34175L4.82499 6.00008L0.166656 10.6584L1.34166 11.8334L5.99999 7.17508L10.6583 11.8334L11.8333 10.6584L7.17499 6.00008L11.8333 1.34175Z";
}

.search-control > .filter-region {
    -fx-min-width: 28;
    -fx-pref-width: 28;
    -fx-max-width: 28;
    -fx-min-height: 28;
    -fx-pref-height: 28;
    -fx-max-height: 28;
    -fx-background-radius: 4;
    -fx-background-color: transparent;
}

.search-control > .filter-region:hover {
    -fx-background-color: #93BEFF80;
}

.search-control > .filter-region:pressed {
    -fx-background-color: #93BEFF4D;
}

.search-control > .filter-region > .icon {
    -fx-position-shape: false;
    -fx-scale-shape: false;
    -fx-translate-x: 4;
    -fx-translate-y: 4;
}

.search-control > .filter-region > .icon.filter {
    /* 3.33, 2.5 13.33x15.0 */
    -fx-background-color: white;
    -fx-shape: "M 7.5 12.5 C 8.017 12.5 8.522 12.661 8.944 12.959 C 9.367 13.258 9.686 13.681 9.858 14.169 L 15.833 14.169 C 16.054 14.169 16.266 14.257 16.423 14.413 C 16.579 14.569 16.667 14.781 16.667 15.002 C 16.667 15.223 16.579 15.435 16.423 15.591 C 16.266 15.748 16.054 15.835 15.833 15.835 L 9.858 15.835 C 9.686 16.323 9.367 16.746 8.944 17.045 C 8.522 17.344 8.017 17.504 7.5 17.504 C 6.982 17.504 6.478 17.344 6.055 17.045 C 5.633 16.746 5.314 16.323 5.142 15.835 L 4.167 15.835 C 3.946 15.835 3.734 15.748 3.577 15.591 C 3.421 15.435 3.333 15.223 3.333 15.002 C 3.333 14.781 3.421 14.569 3.577 14.413 C 3.734 14.256 3.946 14.169 4.167 14.169 L 5.142 14.169 C 5.314 13.681 5.633 13.258 6.055 12.959 C 6.478 12.66 6.982 12.5 7.5 12.5 Z M 6.667 15.002 C 6.667 15.223 6.754 15.435 6.911 15.591 C 7.067 15.748 7.279 15.835 7.5 15.835 C 7.721 15.835 7.933 15.748 8.089 15.591 C 8.245 15.435 8.333 15.223 8.333 15.002 C 8.333 14.781 8.245 14.569 8.089 14.413 C 7.933 14.257 7.721 14.169 7.5 14.169 C 7.279 14.169 7.067 14.257 6.911 14.413 C 6.754 14.569 6.667 14.781 6.667 15.002 Z M 12.5 7.5 C 13.017 7.5 13.522 7.661 13.944 7.959 C 14.367 8.258 14.686 8.681 14.858 9.169 L 15.833 9.169 C 16.054 9.169 16.266 9.257 16.423 9.413 C 16.579 9.569 16.667 9.781 16.667 10.002 C 16.667 10.223 16.579 10.435 16.423 10.591 C 16.266 10.748 16.054 10.835 15.833 10.835 L 14.858 10.835 C 14.686 11.323 14.367 11.746 13.944 12.045 C 13.522 12.344 13.017 12.504 12.5 12.504 C 11.983 12.504 11.478 12.344 11.055 12.045 C 10.633 11.746 10.314 11.323 10.142 10.835 L 4.167 10.835 C 3.946 10.835 3.734 10.748 3.577 10.591 C 3.421 10.435 3.333 10.223 3.333 10.002 C 3.333 9.781 3.421 9.569 3.577 9.413 C 3.734 9.257 3.946 9.169 4.167 9.169 L 10.142 9.169 C 10.314 8.681 10.633 8.258 11.055 7.959 C 11.478 7.661 11.983 7.5 12.5 7.5 Z M 11.667 10.002 C 11.667 10.223 11.754 10.435 11.911 10.591 C 12.067 10.748 12.279 10.835 12.5 10.835 C 12.721 10.835 12.933 10.748 13.089 10.591 C 13.246 10.435 13.333 10.223 13.333 10.002 C 13.333 9.781 13.246 9.569 13.089 9.413 C 12.933 9.257 12.721 9.169 12.5 9.169 C 12.279 9.169 12.067 9.257 11.911 9.413 C 11.754 9.569 11.667 9.781 11.667 10.002 Z M 7.499 2.491 C 8.016 2.491 8.521 2.652 8.943 2.95 C 9.366 3.249 9.685 3.672 9.857 4.16 L 15.832 4.16 C 16.053 4.16 16.265 4.248 16.422 4.404 C 16.578 4.56 16.666 4.772 16.666 4.993 C 16.666 5.214 16.578 5.426 16.422 5.582 C 16.265 5.739 16.053 5.826 15.832 5.826 L 9.857 5.826 C 9.685 6.314 9.366 6.737 8.943 7.036 C 8.521 7.335 8.016 7.495 7.499 7.495 C 6.981 7.495 6.477 7.335 6.054 7.036 C 5.632 6.737 5.313 6.314 5.141 5.826 L 4.166 5.826 C 3.945 5.826 3.733 5.739 3.576 5.582 C 3.42 5.426 3.332 5.214 3.332 4.993 C 3.332 4.772 3.42 4.56 3.576 4.404 C 3.733 4.247 3.945 4.16 4.166 4.16 L 5.141 4.16 C 5.313 3.672 5.632 3.249 6.054 2.95 C 6.477 2.651 6.981 2.491 7.499 2.491 Z M 6.666 4.993 C 6.666 5.214 6.753 5.426 6.91 5.582 C 7.066 5.739 7.278 5.826 7.499 5.826 C 7.72 5.826 7.932 5.739 8.088 5.582 C 8.244 5.426 8.332 5.214 8.332 4.993 C 8.332 4.772 8.244 4.56 8.088 4.404 C 7.932 4.248 7.72 4.16 7.499 4.16 C 7.278 4.16 7.066 4.248 6.91 4.404 C 6.753 4.56 6.666 4.772 6.666 4.993 Z";
}

.search-control > .filter-region > .icon.filter-dot {
    /* 3.33, 2.5 13.33x15.0 */
    -fx-background-color: white;
    -fx-shape: "M11.6865 4.16871H9.85834C9.68618 3.68076 9.36689 3.25824 8.94451 2.95937C8.52213 2.6605 8.01744 2.5 7.50001 2.5C6.98258 2.5 6.47789 2.6605 6.05551 2.95937C5.63313 3.25824 5.31385 3.68076 5.14168 4.16871H4.16668C3.94566 4.16871 3.7337 4.25651 3.57742 4.41279C3.42114 4.56907 3.33334 4.78103 3.33334 5.00204C3.33334 5.22306 3.42114 5.43502 3.57742 5.5913C3.7337 5.74758 3.94566 5.83538 4.16668 5.83538H5.14168C5.31385 6.32332 5.63313 6.74585 6.05551 7.04472C6.47789 7.34359 6.98258 7.50408 7.50001 7.50408C8.01744 7.50408 8.52213 7.34359 8.94451 7.04472C9.36689 6.74585 9.68618 6.32332 9.85834 5.83538H12.1854C11.9174 5.32502 11.7429 4.76132 11.6865 4.16871ZM6.91075 4.41279C7.06703 4.25651 7.279 4.16871 7.50001 4.16871C7.72102 4.16871 7.93299 4.25651 8.08927 4.41279C8.24555 4.56907 8.33334 4.78103 8.33334 5.00204C8.33334 5.22306 8.24555 5.43502 8.08927 5.5913C7.93299 5.74758 7.72102 5.83538 7.50001 5.83538C7.279 5.83538 7.06703 5.74758 6.91075 5.5913C6.75447 5.43502 6.66668 5.22306 6.66668 5.00204C6.66668 4.78103 6.75447 4.56907 6.91075 4.41279ZM11.9108 9.41279C12.067 9.25651 12.279 9.16871 12.5 9.16871C12.721 9.16871 12.933 9.25651 13.0893 9.41279C13.2455 9.56907 13.3333 9.78103 13.3333 10.002C13.3333 10.2231 13.2455 10.435 13.0893 10.5913C12.933 10.7476 12.721 10.8354 12.5 10.8354C12.279 10.8354 12.067 10.7476 11.9108 10.5913C11.7545 10.435 11.6667 10.2231 11.6667 10.002C11.6667 9.78103 11.7545 9.56907 11.9108 9.41279ZM11.0555 7.95937C10.6331 8.25824 10.3138 8.68077 10.1417 9.16871H4.16668C3.94566 9.16871 3.7337 9.25651 3.57742 9.41279C3.42114 9.56907 3.33334 9.78103 3.33334 10.002C3.33334 10.2231 3.42114 10.435 3.57742 10.5913C3.7337 10.7476 3.94566 10.8354 4.16668 10.8354H10.1417C10.3138 11.3233 10.6331 11.7458 11.0555 12.0447C11.4779 12.3436 11.9826 12.5041 12.5 12.5041C13.0174 12.5041 13.5221 12.3436 13.9445 12.0447C14.3669 11.7458 14.6862 11.3233 14.8583 10.8354H15.8333C16.0544 10.8354 16.2663 10.7476 16.4226 10.5913C16.5789 10.435 16.6667 10.2231 16.6667 10.002C16.6667 9.78103 16.5789 9.56907 16.4226 9.41279C16.2663 9.25651 16.0544 9.16871 15.8333 9.16871H14.8583C14.6862 8.68077 14.3669 8.25824 13.9445 7.95937C13.5221 7.6605 13.0174 7.5 12.5 7.5C11.9826 7.5 11.4779 7.6605 11.0555 7.95937ZM6.91075 14.4128C7.06703 14.2565 7.279 14.1687 7.50001 14.1687C7.72102 14.1687 7.93299 14.2565 8.08927 14.4128C8.24555 14.5691 8.33334 14.781 8.33334 15.002C8.33334 15.2231 8.24555 15.435 8.08927 15.5913C7.93299 15.7476 7.72102 15.8354 7.50001 15.8354C7.279 15.8354 7.06703 15.7476 6.91075 15.5913C6.75447 15.435 6.66668 15.2231 6.66668 15.002C6.66668 14.781 6.75447 14.5691 6.91075 14.4128ZM6.05551 12.9594C5.63313 13.2582 5.31385 13.6808 5.14168 14.1687H4.16668C3.94566 14.1687 3.7337 14.2565 3.57742 14.4128C3.42114 14.5691 3.33334 14.781 3.33334 15.002C3.33334 15.2231 3.42114 15.435 3.57742 15.5913C3.7337 15.7476 3.94566 15.8354 4.16668 15.8354H5.14168C5.31385 16.3233 5.63313 16.7458 6.05551 17.0447C6.47789 17.3436 6.98258 17.5041 7.50001 17.5041C8.01744 17.5041 8.52213 17.3436 8.94451 17.0447C9.36689 16.7458 9.68618 16.3233 9.85834 15.8354H15.8333C16.0544 15.8354 16.2663 15.7476 16.4226 15.5913C16.5789 15.435 16.6667 15.2231 16.6667 15.002C16.6667 14.781 16.5789 14.5691 16.4226 14.4128C16.2663 14.2565 16.0544 14.1687 15.8333 14.1687H9.85834C9.68618 13.6808 9.36689 13.2582 8.94451 12.9594C8.52213 12.6605 8.01744 12.5 7.50001 12.5C6.98258 12.5 6.47789 12.6605 6.05551 12.9594Z";
}

.search-control > .filter-region > .icon.dot {
    /* 13.33, 0.83 5.833x5.833 */
    -fx-background-color: #00BC62;
    -fx-shape: "M19.1667 3.74992C19.1667 5.33325 17.8333 6.66658 16.25 6.66658C14.6667 6.66658 13.3333 5.33325 13.3333 3.74992C13.3333 2.16659 14.6667 0.833252 16.25 0.833252C17.8333 0.833252 19.1667 2.16659 19.1667 3.74992Z";
}

.context-menu {
    -fx-background-color: #2E3240;
    -fx-background-radius: 4;
}

.context-menu .menu-item {
    -fx-padding: 2 4 2 8;
    -fx-pref-height: 32;
    -fx-text-fill: white;
}

.context-menu .menu-item:focused {
    -fx-background-color: #545D72;
    -fx-text-fill: white;
}

.context-menu .menu-item:focused > .label,
.context-menu .menu-item > .label {
    -fx-text-fill: white;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 14;
}

.search-control > .search-results-list-view {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.search-control > .search-results-list-view > .placeholder > .placeholder-label {
    -fx-font-family: "Noto Sans";
    -fx-font-size: 12px;
    -fx-text-fill: #FBFBFC;
    -fx-font-weight: 500;
}

.search-control > .search-results-list-view > .virtual-flow > .scroll-bar {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.search-control > .search-results-list-view > .virtual-flow > .scroll-bar:vertical > .track {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0em;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
}

.search-control > .search-results-list-view > .virtual-flow > .scroll-bar:vertical > .thumb {
    -fx-background-color: transparent, #F2F2F299;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2, 2;
}

.search-control > .search-results-list-view > .virtual-flow > .scroll-bar:vertical > .increment-button,
.search-control > .search-results-list-view > .virtual-flow > .scroll-bar:vertical > .decrement-button,
.search-control > .search-results-list-view > .virtual-flow > .scroll-bar:vertical > .increment-button > .increment-arrow,
.search-control > .search-results-list-view > .virtual-flow > .scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 1 0 1;
}

.search-result-cell.list-cell {
    -fx-padding: 2.5 2 2.5 0;
}
.search-result-cell.list-cell,
.search-result-cell.list-cell:odd,
.search-result-cell.list-cell:filled:selected,
.search-control > .search-results-list.list-view:focused > .virtual-flow > .clipped-container > .sheet > .search-result-cell.list-cell:filled:selected,
.search-control > .search-results-list.list-view:focused > .virtual-flow > .clipped-container > .sheet > .search-result-cell.list-cell:focused {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-background-insets: 0;
}

.search-result {
    -fx-background-color: #FBFBFC, #FBFBFC;
    -fx-background-radius: 3;
    -fx-background-insets: 0, 2;
    -fx-padding: 2 8 2 8;
    -fx-alignment: center-left;
    -fx-pref-height: 38;
    -fx-min-width: 0;
    -fx-pref-width: 1;
}

.search-result:long-hover {
    -fx-background-color: #5896F6, #F4F9FF;
}

.search-result > .highlight-path {
    -fx-fill: #C0F5A0;
    -fx-stroke-width: 0;
}

.search-result > .parent-description-label {
    -fx-font-family: "Noto Sans";
    -fx-font-size: 11px;
    -fx-text-fill: #545D72;
    -fx-font-weight: 500;
}

.search-result > .description-label {
    -fx-font-family: "Noto Sans";
    -fx-font-size: 12px;
    -fx-text-fill: #212430;
    -fx-font-weight: 500;
    -fx-graphic-text-gap: 0;
}

.search-result > .description-label > .region {
    -fx-pref-width: 12;
    -fx-pref-height: 18;
}

.search-result > .description-label > .region > .icon.curve {
    -fx-shape: "M 8.5 11.198 C 5.77 11.179 3.576 10.279 2.166 8.82 C 0.752 7.357 0 5.23 0 2.947 C 0 0.748 0 -0.006 0 -0.21 C 0 -0.236 0 -0.253 0 -0.263 C 0 -0.268 0 -0.271 0 -0.273 C 0 -0.274 0 -0.274 0 -0.275 C 0 -0.275 0 -0.275 0 -0.275 C 0 -0.275 0 -0.275 0 -0.275 C 0 -0.275 0 -0.275 0 -0.275 C 0 -0.275 0 -0.275 0 -0.275 C 0 -0.275 0 -0.275 0 -0.275 C 0 -0.275 0 -0.275 0 -0.275 L 1 -0.275 C 1 -0.275 1 -0.275 1 -0.275 C 1 -0.275 1 -0.275 1 -0.275 C 1 -0.275 1 -0.275 1 -0.275 C 1 -0.275 1 -0.275 1 -0.275 C 1 -0.275 1 -0.275 1 -0.275 C 1 -0.275 1 -0.275 1 -0.275 C 1 -0.275 1 -0.275 1 -0.275 C 1 -0.275 1 -0.274 1 -0.274 C 1 -0.27 1 -0.246 1 -0.216 C 1 -0.155 1 -0.069 1 -0.069 L 0 -0.069 C 0 -0.069 0 -0.155 0 -0.216 C 0 -0.246 0 -0.27 0 -0.274 C 0 -0.274 0 -0.275 0 -0.275 C 0 -0.275 0 -0.275 0 -0.275 C 0 -0.275 0 -0.275 0 -0.275 C 0 -0.275 0 -0.275 0 -0.275 C 0 -0.275 0 -0.275 0 -0.275 C 0 -0.275 0 -0.275 0 -0.275 C 0 -0.275 0 -0.275 0 -0.275 C 0 -0.275 0 -0.275 0 -0.275 L 1 -0.275 C 1 -0.275 1 -0.275 1 -0.275 C 1 -0.275 1 -0.275 1 -0.275 C 1 -0.275 1 -0.275 1 -0.275 C 1 -0.275 1 -0.275 1 -0.275 C 1 -0.275 1 -0.275 1 -0.275 C 1 -0.275 1 -0.275 1 -0.275 C 1 -0.274 1 -0.274 1 -0.273 C 1 -0.271 1 -0.268 1 -0.263 C 1 -0.253 1 -0.236 1 -0.21 C 1 -0.006 1 0.748 1 2.947 C 1 5.064 1.615 6.812 2.885 8.125 C 4.158 9.442 5.964 10.217 8.5 10.198 L 8.5 11.198 Z";
    -fx-background-color: #6E7989;
    -fx-scale-shape: false;
    -fx-position-shape: false;
}
