.stamp-view-control .stamp-container {
    -fx-border-width: 2px;
    -fx-border-color: transparent;
    -fx-border-radius: 3px;

    -fx-padding: 5px;

    highlight-color: #f2faee;
    highlight-border-color: #9ae281;
}

.stamp-view-control .stamp-container .stamp-label {
    -fx-font-family: "Noto Sans Bold";
    -fx-font-size: 12px;
    -fx-text-fill: #444;

    -fx-min-width: 35px;
}

.stamp-view-control .stamp-container .stamp-text {
    -fx-font-family: "Noto Sans Medium";
    -fx-font-size: 12px;
    -fx-fill: #999;
}

.stamp-view-control:selected .stamp-container {
    -fx-background-color: highlight-color;
    -fx-background-radius: 3px;

    -fx-border-color: highlight-border-color;
}

.stamp-view-control:hover .stamp-container {
    -fx-background-color: #f8f8f8;
    -fx-background-radius: 3px;

    -fx-border-color: #ededed;
}

.stamp-view-control:selected:hover .stamp-container {
    -fx-background-color: derive(highlight-color, -1.5%);

    -fx-border-color: derive(highlight-border-color, -5%);
}