@import "../mvvm/view/kview.css";

.string-control {
}

.string-control > .text-field {
    -fx-background-color: white;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-border-color: -Grey-5;
    -fx-pref-height: 32.0;
    -fx-padding: 4 7 4 7;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-fill: -Grey-10;
}
