@import "../mvvm/view/kview.css";

.string-control {
}

.string-control > .text-field {
    -fx-background-color: -Grey-5, white;
    -fx-background-radius: 4, 4;
    -fx-background-insets: 0, 1;
    -fx-pref-height: 32.0;
    -fx-padding: 4 10 4 10;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-fill: -Grey-10;
    -fx-border-width: 0;
}

.string-control > .text-field:focused {
    -fx-background-color: #8ab4f8, white;
    -fx-background-insets: 0, 2;
}