@import "kl-core.css";

.icon {
    -fx-background-color: -icon-paint;
    -fx-scale-shape: false;
}

/*******************************************************************************
 *                                                                             *
 * SVGS                                                                        *
 *                                                                             *
 ******************************************************************************/

.icon.home {
   -fx-shape: "M12.9375 5.82281L17.9375 10.3228V18.1328H15.9375V12.1328H9.9375V18.1328H7.9375V10.3228L12.9375 5.82281ZM12.9375 3.13281L2.9375 12.1328H5.9375V20.1328H11.9375V14.1328H13.9375V20.1328H19.9375V12.1328H22.9375L12.9375 3.13281Z";
}

.icon.list {
   -fx-shape: "M3.9375 18.6328H13.9375V16.6328H3.9375V18.6328ZM3.9375 13.6328H16.1875V11.6328H3.9375V13.6328ZM3.9375 6.63281V8.63281H13.9375V6.63281H3.9375Z";
}

.icon.code {
   -fx-shape: "M10.3375 17.2328L5.7375 12.6328L10.3375 8.03281L8.9375 6.63281L2.9375 12.6328L8.9375 18.6328L10.3375 17.2328ZM15.5375 17.2328L20.1375 12.6328L15.5375 8.03281L16.9375 6.63281L22.9375 12.6328L16.9375 18.6328L15.5375 17.2328Z";
}

.icon.layout {
    -fx-shape: "M4.9375 5.63281V18.6328H21.9375V5.63281H4.9375ZM6.9375 16.6328V7.63281H9.9375V16.6328H6.9375ZM11.9375 16.6328V13.1328H14.9375V16.6328H11.9375ZM19.9375 16.6328H16.9375V13.1328H19.9375V16.6328ZM11.9375 11.1328V7.63281H19.9375V11.1328H11.9375Z";
}

.icon.share {
    -fx-shape: "M7.02031 11.5507L6.00002 10.5304L10.3 6.23038L7.2294 6.23038V4.78341H12.7673L12.7673 10.3213H11.3203L11.3203 7.25067L7.02031 11.5507Z";
}

.icon.duplicate {
     -fx-shape: "M9.93856 6.99561L9.93856 8.56267L11.9094 8.56267L11.9094 10.5612L13.4764 10.5612L13.4764 8.56267L15.5026 8.56267L15.5026 6.99561L13.4764 6.99561L13.4764 4.99716L11.9094 4.99716L11.9094 6.99561L9.93856 6.99561Z";
}

.icon.cross {
    -fx-shape: "M16.3333 5.34199L15.1583 4.16699L10.5 8.82533L5.84163 4.16699L4.66663 5.34199L9.32496 10.0003L4.66663 14.6587L5.84163 15.8337L10.5 11.1753L15.1583 15.8337L16.3333 14.6587L11.675 10.0003L16.3333 5.34199Z";
}

/* Icon used for view coordinates */
.icon.coordinate {
    -fx-shape: "M9.16666 1.66699V3.39199C6.14999 3.77533 3.77499 6.15033 3.39166 9.16699H1.66666V10.8337H3.39166C3.77499 13.8503 6.14999 16.2253 9.16666 16.6087V18.3337H10.8333V16.6087C13.85 16.2253 16.225 13.8503 16.6083 10.8337H18.3333V9.16699H16.6083C16.225 6.15033 13.85 3.77533 10.8333 3.39199V1.66699M9.16666 5.06699V6.66699H10.8333V5.07533C12.9167 5.41699 14.5833 7.08366 14.9333 9.16699H13.3333V10.8337H14.925C14.5833 12.917 12.9167 14.5837 10.8333 14.9337V13.3337H9.16666V14.9253C7.08332 14.5837 5.41666 12.917 5.06666 10.8337H6.66666V9.16699H5.07499C5.41666 7.08366 7.08332 5.41699 9.16666 5.06699ZM9.99999 9.16699C9.77898 9.16699 9.56702 9.25479 9.41073 9.41107C9.25445 9.56735 9.16666 9.77931 9.16666 10.0003C9.16666 10.2213 9.25445 10.4333 9.41073 10.5896C9.56702 10.7459 9.77898 10.8337 9.99999 10.8337C10.221 10.8337 10.433 10.7459 10.5892 10.5896C10.7455 10.4333 10.8333 10.2213 10.8333 10.0003C10.8333 9.77931 10.7455 9.56735 10.5892 9.41107C10.433 9.25479 10.221 9.16699 9.99999 9.16699Z";
}

/* Icon used for timeline */
.icon.timeline {
    -fx-shape: "M3.33331 1.66699V6.66699H1.66665V1.66699H3.33331ZM1.66665 18.3337V13.3337H3.33331V18.3337H1.66665ZM4.16665 10.0003C4.16665 10.9253 3.42498 11.667 2.49998 11.667C1.58331 11.667 0.833313 10.9253 0.833313 10.0003C0.833313 9.08366 1.58331 8.33366 2.49998 8.33366C3.42498 8.33366 4.16665 9.08366 4.16665 10.0003ZM13.3333 3.33366C17.0166 3.33366 20 6.31699 20 10.0003C20 13.6837 17.0166 16.667 13.3333 16.667C10.3333 16.667 7.79998 14.6837 6.95831 11.9587L4.99998 10.0003L6.95831 8.04199C7.79998 5.31699 10.3333 3.33366 13.3333 3.33366ZM13.3333 5.00033C10.575 5.00033 8.33331 7.24199 8.33331 10.0003C8.33331 12.7587 10.575 15.0003 13.3333 15.0003C16.0916 15.0003 18.3333 12.7587 18.3333 10.0003C18.3333 7.24199 16.0916 5.00033 13.3333 5.00033ZM12.5 10.8337V6.66699H13.75V10.167L16.25 11.667L15.5666 12.717L12.5 10.8337Z";
}

.icon.plus-circle {
    -fx-shape: "M6.99999 1.16699C3.78524 1.16699 1.16666 3.78557 1.16666 7.00033C1.16666 10.2151 3.78524 12.8337 6.99999 12.8337C10.2147 12.8337 12.8333 10.2151 12.8333 7.00033C12.8333 3.78557 10.2147 1.16699 6.99999 1.16699ZM6.99999 2.33366C9.58423 2.33366 11.6667 4.41609 11.6667 7.00033C11.6667 9.58456 9.58423 11.667 6.99999 11.667C4.41575 11.667 2.33332 9.58456 2.33332 7.00033C2.33332 4.41609 4.41575 2.33366 6.99999 2.33366ZM6.41666 4.08366V6.41699H4.08332V7.58366H6.41666V9.91699H7.58332V7.58366H9.91666V6.41699H7.58332V4.08366H6.41666Z";
}