.root {
    -amplify-titled-pane-text-color: #4581deff;
    -amplify-titled-pane-background-color: #dbe9ffff;
    -komet-description-color: #ff9100;
    -fx-font-family: "OpenSans";
}
.concept-detail-banner-background {
    -fx-background-color: #ffffffff;
}

.identicon-frame {
    -fx-border-color: #202020FF;
}

.copyable-label, .copyable-label:focused {
    -fx-border-color: transparent;
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-padding: 4 0 4 0;

}
.concept-title {
    -fx-text-fill: #6E7989FF;
    -fx-fill: #6E7989FF;
}
/*
Titled Pane
 */
.titled-pane {
    -fx-text-fill: #2E3240FF;
    -fx-border-insets: 1, 0, 1, 0;
    -fx-border-color: #9caabfff;
}

.titled-pane:focused {
    -fx-color: -fx-base;
}

.titled-pane > .title {
    -fx-background-color: #E1E8F1FF;
    -fx-border-width: 0;
}

/* focus purely on the arrow */
.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-color: -fx-focus-color, -fx-mark-color;
    -fx-background-insets: -1, 0;
    /*-fx-effect: dropshadow(two-pass-box , -fx-focus-color, 5, 0.2 , 0, 0);*/
}
.titled-pane > .title > .arrow-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.583em 0.0em 0.0em; /* 0 7 0 0 */
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: #2E3240FF;
    -fx-shape: "M1.40988 0.295017L-0.000122333 1.70502L5.99988 7.70502L11.9999 1.70502L10.5899 0.295017L5.99988 4.87502L1.40988 0.295017Z";
}

.descr-semantic {
    -fx-wrap-text: true;
    -fx-text-fill: #585757ff;
    -fx-fill: #585757ff;
    -fx-alignment: top-left;
}

.descr-concept-name{
    -fx-wrap-text: true;
    -fx-alignment: top-left;
}

.pencil-button {
    -fx-pref-width: 15;
    -fx-pref-height: 14;
    -fx-background-color: #44495EFF;
    -fx-shape: "M8.89461 4.75L9.59961 5.455L2.78961 12.25H2.09961V11.56L8.89461 4.75ZM11.5946 0.25C11.4071 0.25 11.2121 0.325 11.0696 0.4675L9.69711 1.84L12.5096 4.6525L13.8821 3.28C14.1746 2.9875 14.1746 2.5 13.8821 2.2225L12.1271 0.4675C11.9771 0.3175 11.7896 0.25 11.5946 0.25ZM8.89461 2.6425L0.599609 10.9375V13.75H3.41211L11.7071 5.455L8.89461 2.6425Z"
}

.axiom-count-btn {
    -fx-background-color: #585757, white;
    -fx-background-radius: 2, 2;
    -fx-background-insets: 0, 1;
    -fx-text-fill: black;

}

.axiom-inferred-gear-btn {
    -fx-pref-width: 15;
    -fx-pref-height: 14;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
}

.axiom-stated-chat-bubble-btn {
    -fx-pref-width: 16;
    -fx-pref-height: 15;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
}
