name: Publish Artifacts Workflow

run-name: 'Publish Artifacts To Nexus -- ${{github.event.workflow_run.head_branch}}'

on:
   workflow_run:
    workflows:
      - Build Workflow
    types:
      - completed
        
        
jobs:
  publish-artifacts:
      name: Publish Artifacts
      runs-on: ubuntu-24.04
      if: github.event.workflow_run.conclusion == 'success' && github.repository_owner == 'ikmdev'
      steps:
      - uses: actions/setup-java@v4
        with:
                java-version: '21'
                distribution: 'zulu'


      - name: Deploy Artifacts To Nexus
        uses: ikmdev/maven-nexus-deploy-action@v1.1.0
        with:
            nexus_repo_password: ${{secrets.EC2_NEXUS_PASSWORD}}
            repo_name: ${{github.event.workflow_run.head_repository.full_name}}
            branch_name: ${{github.event.workflow_run.head_branch}}